/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/blog/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.page_mainContainer__BIUgB{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap:20px;
    gap:20px;
}


.page_post__5_8O5{
    flex-grow: 1;
    border: 1px solid #444;
    border-radius: 15px ;
    transition: all .3s ease-in-out;
    }

.page_post__5_8O5:hover{
    background-color: black;
    border: 1px solid #fff;
}


   
.page_image__7fjoy{
    object-fit: cover;
    border-radius: 15px ;
}

.page_title__HjEeY{
    font-weight: 700;
}
.page_text__2tt6u{
    font-size: 15px;
    color: #999;

}

