:root{
  --color-primary: #53c28b;
  --color-secondary:#bbb;
  --size-border-radius:10px;
}


.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.container{
  max-width: 1100px;
  min-height: 100vh;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;  
  }

.light{
  background-color: white;
  color: #111;
}

.dark{
  background-color: #111;
  color: #bbb;

}
.theme{
  transition: 0.3s all ease-in-out;
}

