/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/DarkModeToggle/DarkModeToggle.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.DarkModeToggle_container__g__xe{
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.DarkModeToggle_icon__2FjOT{
    font-size:18px

}
.DarkModeToggle_switcher__oUQdU{
    width: 25px;
    aspect-ratio: 1/1;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;

}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/Footer/footer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.footer_container__IxwGR{
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.footer_social__WKC7d{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer_icon__06V2f{
    opacity: .6;
    cursor: pointer;
    transition: opacity .3s ease-in;
}
.footer_icon__06V2f:hover{
    opacity: 1;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/Nav/Navbar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_container__czCxj{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar_links__LyLTQ{
    display: flex;
    gap: 10px;
    align-items: center;
}


/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root{
  --color-primary: #53c28b;
  --color-secondary:#bbb;
  --size-border-radius:10px;
}


.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #bbb;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.container{
  max-width: 1100px;
  min-height: 100vh;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;  
  }

.light{
  background-color: white;
  color: #111;
}

.dark{
  background-color: #111;
  color: #bbb;

}
.theme{
  transition: 0.3s all ease-in-out;
}


/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/elements/Logo/logo.modules.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.logo {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: #333;
  text-decoration: none;
}

